* {
    font-family: sans-serif;
}

body {
    margin: 0px;
    display: flex;
    height: 100vh
}

ul {
    list-style-type: none;
    padding: 0px;
}

h1 {
    margin-left: 20px;
}

.sidebar {
    padding: 10px;
    background-color: #f5f5f5;
    white-space: nowrap;
}

.sidebar li {
    padding: 10px;
    border-radius: 10px;
}

.sidebar li:hover {
    box-shadow: inset 0 0 100px 100px rgba(0, 0, 0, 0.1);
}

.sidebar h3 {
    font-size: 1.3rem;
}

.main {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.footer {
    margin-top: auto;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    padding: 25px;
    gap: 25px;
}

.todo-card {
    height: fit-content;
    width: min-content;
    padding: 25px;
    background-color: aliceblue;
    border: 1px solid black;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
}